*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
}
/* ---------------
    Container
---------------- */

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
}

/* ---------------
    Header
---------------- */

.header {
  background-color: #87509c;
  height: 595px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
}

.header__logo {
  font-family: "Myriad Pro Regular";
  font-size: 30px;
  margin-left: 41px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 140px;
}

.header__title {
  font-family: "Titillium Web", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15;
  width: 910px;
}

/* ---------------
   Header__button
---------------- */

.header__button {
  margin-top: 55px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  line-height: 1.44;
  background-color: #eb7d4b;
  padding: 30px 80px 26px;
  border-radius: 5px;
  border-bottom: 4px solid #c86a40;
}

/* ---------------
    Nav
---------------- */

.nav__link {
  padding: 10px 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  line-height: 1.1;
}

.nav__link:hover {
  background-color: #643a79;
  border-radius: 5px;
  transition: 0.2s;
}

/* ---------------
    Services
---------------- */

.services {
  background-color: #17c2a4;
  height: 750px;
}

.services__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  padding-top: 120px;
}

.services__mini-border {
  border: 2px solid #14a58c;
  width: 90px;
  margin: 0px auto;
  margin-top: 20px;
}

.services__subtitle {
  line-height: 1.44;
  text-align: center;
  margin-top: 25px;
}

.services__items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.services__item {
  width: 260px;
  text-align: center;
  padding: 0px 35px;
  margin-right: 20px;
}

.services__item__title {
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 60px;
}

.services__item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 25px;
}

/* ---------------
    Team
---------------- */

.team {
  background-color: #e7f1f8;
  height: 915px;
  color: #3c4761;
}

.team__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  padding-top: 120px;
}

.team__mini-border {
  border: 2px solid #c8d9e5;
  width: 90px;
  margin: 0px auto;
  margin-top: 20px;
}

.team__subtitle {
  line-height: 1.44;
  text-align: center;
  margin-top: 25px;
}

.team__items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.team__item {
  width: 260px;
  text-align: center;
  padding: 0px 30px;
  margin-right: 20px;
}

.team__item__img {
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
}

.team__photo-1 {
  transform: translate3d(-20%, -15%, 0);
}

.team__photo-2 {
  transform: translate3d(-15%, -10%, 0);
}

.team__photo-3 {
  transform: translate3d(-10%, -15%, 0);
}

.team__photo-4 {
  transform: translate3d(-18%, -10%, 0);
}

.team__item__title {
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 40px;
}

.team__item__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 15px;
  color: #30bae7;
}

.team__item__text {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 30px;
}

.team__item__social {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.social__icon {
  margin-right: 10px;
}

.social__icon:last-child {
  margin-right: 0px;
}

/* ---------------
    Statistics
---------------- */

.statistics {
  background-color: #fff;
  height: 655px;
  color: #3c4761;
}

.statistics__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  padding-top: 120px;
}

.statistics__mini-border {
  border: 2px solid #dfe8ed;
  width: 90px;
  margin: 0px auto;
  margin-top: 20px;
}

.statistics__subtitle {
  line-height: 1.44;
  text-align: center;
  margin-top: 25px;
}

.statistics__items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.statistics__item {
  width: 260px;
  text-align: center;
  margin-right: 20px;
}

.statistics__item__title {
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
}

/* ---------------
    Portfolio
---------------- */

.portfolio {
  height: 1420px;
  background-color: #ffdd99;
  color: #393939;
}

.portfolio__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  padding-top: 120px;
}

.portfolio__mini-border {
  border: 2px solid #e5c37f;
  width: 90px;
  margin: 0px auto;
  margin-top: 20px;
}

.portfolio__subtitle {
  line-height: 1.44;
  text-align: center;
  margin-top: 25px;
}

.portfolio__items {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
}

.portfolio__item {
  width: 540px;
  text-align: center;
  margin-right: 20px;
  margin-top: 65px;
}

.portfolio__item:nth-child(2n) {
  margin-right: 0px;
}

.portfolio__item__title {
  font-size: 18px;
  line-height: 19.5px;
  text-transform: uppercase;
  margin-top: 30px;
}

.portfolio__button {
  margin-top: 80px;
  text-align: center;
}

.btn-2 {
  width: 295px;
  height: 65px;
  background-color: #17c2a4;
  border: 0px;
  border-bottom: 4px solid #14a58c;
  border-radius: 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-2:hover {
  cursor: pointer;
}

/* ---------------
    People
---------------- */

.people {
  height: 895px;
  background-color: #d74680;
}

.people__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  padding-top: 120px;
}

.people__mini-border {
  border: 2px solid #b73c6d;
  width: 90px;
  margin: 0px auto;
  margin-top: 20px;
}

.people__subtitle {
  line-height: 1.44;
  text-align: center;
  margin-top: 25px;
}

.people__items {
  margin-top: -75px;
  display: flex;
  flex-wrap: wrap;
}

.people__item {
  width: 540px;
  margin-right: 20px;
  margin-top: 145px;
  display: flex;
}

.people__item:nth-child(2n) {
  margin-right: 0px;
}

.people__item__img {
  width: 95px;
  height: 95px;
  overflow: hidden;
  border-radius: 50%;
}

.people__photo-1 {
  transform: translate3d(-32%, -27%, 0);
}

.people__photo-2 {
  transform: translate3d(-28%, -23%, 0);
}

.people__photo-3 {
  transform: translate3d(-28%, -24%, 0);
}

.people__photo-4 {
  transform: translate3d(-23%, -40%, 0);
}

.people__inner {
  margin-left: 50px;
}

.people__item__title {
  font-size: 21px;
  line-height: 1.47;
  font-style: italic;
  width: 380px;
}

.people__item__subtitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.1;
  margin-top: 30px;
}
.people__item__text {
  font-size: 18px;
  line-height: 1.4;
  color: #ffdd99;
}

/* ---------------
    Commentaries
---------------- */

.comments {
  height: 820px;
  background-color: #3c5499;
}

.comments__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  padding-top: 120px;
}

.comments__mini-border {
  border: 2px solid #273a71;
  width: 90px;
  margin: 0px auto;
  margin-top: 20px;
}

.comments__subtitle {
  line-height: 1.44;
  text-align: center;
  margin-top: 25px;
}

.comment {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.comment__name {
  width: 415px;
  background-color: #273a71;
  color: #fff;
  height: 55px;
  padding-left: 25px;
  border: none;
  border-radius: 5px;
}

.comment__email {
  width: 415px;
  margin-left: 30px;
  background-color: #273a71;
  color: #fff;
  height: 55px;
  padding-left: 25px;
  border: none;
  border-radius: 5px;
}

.comment__message {
  width: 860px;
  margin-top: 25px;
  background-color: #273a71;
  color: #fff;
  height: 200px;
  padding-left: 25px;
  padding-top: 20px;
  border: none;
  border-radius: 5px;
}

::placeholder {
  color: #fff;
}

.comments__button {
  margin-top: 60px;
  text-align: center;
}

.btn-3 {
  width: 290px;
  height: 66px;
  background-color: #30bae7;
  border: none;
  border-bottom: 4px solid #299ec5;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  line-height: 1.6;
  text-transform: uppercase;
}

.btn-3:hover {
  cursor: pointer;
}

/* ---------------
    Footer
---------------- */

.footer {
  background-color: #344b8e;
}

.footer__inner {
  height: 110px;
  width: 945px;
  display: flex;
  margin: 0px auto;
  justify-content: space-between;
  align-items: center;
}

.footer__link {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: 600;
}

.footer__link:hover {
  color: #30bae7;
  transition: 0.2s;
}

/* ---------------
    Media
---------------- */

@media (max-width: 1099px) {
  /* header */

  .header__title {
    font-size: 36px;
  }

  .btn {
    padding: 25px 60px 21px;
  }

  /* services */

  .services {
    height: 1100px;
  }

  .services__title {
    font-size: 34px;
  }

  .services__items {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 700px;
  }

  .services__item {
    margin: 60px 40px 0 40px;
  }

  .services__item__title {
    margin-top: 40px;
  }

  /* team */

  .team {
    height: 1400px;
  }

  .team__title {
    font-size: 34px;
  }

  .team__items {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    margin-top: 40px;
    width: 700px;
  }

  .team__item {
    margin: 40px 40px 0 40px;
  }

  /* statistics */

  .statistics {
    height: 900px;
  }

  .statistics__title {
    font-size: 34px;
  }

  .statistics__items {
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    width: 700px;
  }

  .statistics__item {
    margin: 60px 40px 0 40px;
  }

  .statistics__item__title {
    margin-top: 10px;
  }

  /* portfolio */

  .portfolio {
    height: 2300px;
  }

  .portfolio__items {
    justify-content: center;
    margin-top: 0;
  }

  .portfolio__item {
    margin-top: 80px;
  }

  /* people */

  .people {
    height: 1150px;
  }

  .people__title {
    font-size: 34px;
  }

  .people__items {
    justify-content: center;
    width: 700px;
    margin: 0 auto;
  }

  .people__item {
    flex-direction: column;
    width: 300px;
    margin: 60px 20px 20px 20px;
  }

  .people__inner {
    margin: 0;
  }

  .people__item__title {
    height: 150px;
    width: 300px;
    margin-top: 20px;
  }

  /* comments */

  .comments__title {
    font-size: 34px;
  }

  .comments__subtitle {
    width: 530px;
    margin: 25px auto;
  }

  .comment__name {
    width: 250px;
  }

  .comment__email {
    width: 250px;
  }

  .comment__message {
    width: 530px;
  }

  ::placeholder {
    font-size: 16px;
  }

  /* footer */

  .footer__inner {
    width: 700px;
  }

  .footer__link {
    font-size: 18px;
  }
}
