*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Titillium Web", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
  font-weight: 400;
}
/* ---------------
    Container
---------------- */

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0px auto;
}

/* ---------------
    Header
---------------- */

.header {
  background-color: #87509c;
  height: 595px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 57px;
}

.header__logo {
  font-family: "Myriad Pro Regular";
  font-size: 30px;
  margin-left: 41px;
}

.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 140px;
}

.header__title {
  font-family: "Titillium Web", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.15;
  width: 910px;
}

/* ---------------
   Header__button
---------------- */

.header__button {
  margin-top: 55px;
}

.btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  line-height: 1.44;
  background-color: #eb7d4b;
  padding: 30px 80px 26px;
  border-radius: 5px;
  border-bottom: 4px solid #c86a40;
}

/* ---------------
    Nav
---------------- */

.nav__link {
  padding: 10px 17px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  margin-right: 10px;
  line-height: 1.1;
}

.nav__link:hover {
  background-color: #643a79;
  border-radius: 5px;
  transition: 0.2s;
}

/* ---------------
    Services
---------------- */

.services {
  background-color: #17c2a4;
  height: 750px;
}

.services__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  padding-top: 120px;
}

.services__mini-border {
  border: 2px solid #14a58c;
  width: 90px;
  margin: 0px auto;
  margin-top: 20px;
}

.services__subtitle {
  line-height: 1.44;
  text-align: center;
  margin-top: 25px;
}

.services__items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.services__item {
  width: 260px;
  text-align: center;
  padding: 0px 35px;
  margin-right: 20px;
}

.services__item__title {
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 60px;
}

.services__item__text {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  margin-top: 25px;
}

/* ---------------
    Team
---------------- */

.team {
  background-color: #e7f1f8;
  height: 915px;
  color: #3c4761;
}

.team__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  padding-top: 120px;
}

.team__mini-border {
  border: 2px solid #c8d9e5;
  width: 90px;
  margin: 0px auto;
  margin-top: 20px;
}

.team__subtitle {
  line-height: 1.44;
  text-align: center;
  margin-top: 25px;
}

.team__items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.team__item {
  width: 260px;
  text-align: center;
  padding: 0px 30px;
  margin-right: 20px;
}

.team__item__title {
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 40px;
}

.team__item__subtitle {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  margin-top: 15px;
  color: #30bae7;
}

.team__item__text {
  font-size: 16px;
  line-height: 1.4;
  margin-top: 30px;
}

.team__item__social {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.social__icon {
  margin-right: 10px;
}

.social__icon:last-child {
  margin-right: 0px;
}

/* ---------------
    Statistics
---------------- */

.statistics {
  background-color: #fff;
  height: 655px;
  color: #3c4761;
}

.statistics__title {
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 30px;
  padding-top: 120px;
}

.statistics__mini-border {
  border: 2px solid #dfe8ed;
  width: 90px;
  margin: 0px auto;
  margin-top: 20px;
}

.statistics__subtitle {
  line-height: 1.44;
  text-align: center;
  margin-top: 25px;
}

.statistics__items {
  margin-top: 80px;
  display: flex;
  justify-content: space-between;
}

.statistics__item {
  width: 260px;
  text-align: center;
 
  margin-right: 20px;
}

.statistics__item__title {
  font-size: 24px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 30px;
}
